.intro
{
    font-style: italic;
}

body
{
    background-image: url("/home/meechar/meechar/moringa-school-projects/Resort-Website/images/hotel2.webp");

}

p
{
    color: black;

}
.contact
{
    color: chocolate;
}

div
    {
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px;
    }    
    
 img
{
    max-width: 100%;
    height: auto;
}